body {
    color: #40514E;
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
}

span {
    text-decoration: underline;
}

h1 {
    margin: 50px auto 0 auto;
    font-size: 4.5rem;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p{
    line-height: 2;
}

hr {
    border-style: dotted none none none;
    border-width: 6px;
    width: 5%;
    border-color: #EAF6F6;
    margin: 70px auto 70px auto;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}


/* Top Container */
.top-container {
    background-color: #E4F9F5;
    padding-top: 100px;
}

.mountain {
    width: 100%;
    height: 500px;
}

.top-cloud {
    width: 10%;
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    width: 10%;
    position: absolute;
    left: 250px;
    top: 400px;
}

/* Middle Container */
.middle-container {
    margin: 70px 0;
}

.intro {
    margin:auto;
    width: 30%;
}

.profile-img {
    width: 15%;
    border-radius: 100%;
    border-style: solid;
}

.skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
}

.webD-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.dsa-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-img {
    width: 15%;
}

.contact-message{
    margin: 40px auto 40px auto;
    width: 40%;
}

.btn {
    background-image: linear-gradient(#11cdd4,#11999e);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff; 
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover{
    background-image: linear-gradient(#30e3cb,#2bc4ad);
}

/* Bottom Container */
.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.copyright {
    margin: 30px auto 0;
    color: #EAF6F6;
    font-size: 0.75rem;
}